<ul class="list_style">
	<li data-type="style0" title="Текст без украшательств">Обычный текст</li>
	<li data-type="style1" title="Выводится жирным шрифтом">Вводный текст статьи</li>
	<li data-type="style2" title="Нормальный текст, обрамленный двумя полосками. Сверху и снизу">Представление человека</li>
	<li data-type="style3" title="Жирный текст с тире">Репортаж. Вопрос</li>
	<li data-type="style4" title="Нормальный текст с тире">Репортаж. Ответ</li>
	<li data-type="style5" title="Большой текст на бежевой площадке">Текст на плашке</li>
</ul>